<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APPId" value="65d3a4f0-0239-404c-8394-21b94ff50604" />
    <add key="SecretKey" value="WLUEWeL3so2hdHhHM5ZYnvzsOUBzSGH4+T3EgrQ91KI=" />
    <add key="APIBaseAddress" value="https://localhost:44395/" />
    <add key="APIController" value="api/persons" />
    <add key="AuthenticationScheme" value="hmacauth" />
  </appSettings>
</configuration>